body {
    font-family: Arial, sans-serif;
  }
  
  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    text-align: center;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover {
    color: black;
  }

  .show-modal{
    display: block;
  }

  #openButton{
    padding: 1vw;
    width: 8vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2vw;
  }

  #openButton:hover{
    cursor: pointer;
  }